body{
  background-color:red;
}
.container{
  margin:auto ;
  margin-top:30px;
  margin-bottom: 30px;
  background-color:grey;
  /* text-align: center; */

}
.heading{
  font-size: 4rem;
  color: black;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}

.click{
  margin:25px;
}

#Notes{
  margin:15px;
}
